@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-justify">
    <h3 class="display-4 text-center text-index">Algemene info</h3>
    <p>
        Een team van 12 enthousiaste collega’s van QDelft zullen in het pinksterweekend van 2019 onder begeleiding van fietsers en chauffeurs de Maaslandloop gaan lopen.
        De <a href="https://www.maaslandloop.com/">Maaslandloop</a> is één van de langste recreatieve non-stop hardloop estafettes voor het goede doel, de afstand is maar liefst 360 km. De  editie van 2019 vindt plaats in het weekend van 7 & 8 juni 2019.
        De start is op vrijdagmorgen en finish op zaterdagmiddag op het festivalterrein van Sport & Spel gelegen bij de voetbalvereniging MVV '27 in Maasland. Deze estafetteloop wordt georganiseerd door de vier enthousiaste teamleden van de Maaslandlooporganisatie in samenwerking met Stichting Sport en Spel Maasland”.
        De opbrengst gaat elk jaar naar een ander goed doel. Het goede doel van de editie 2019 is de Stichting Avavieren. Een stichting die zich inzet voor een onbekommerde vakantie voor kinderen met een handicap en hun gezinsleden.
    </p>
    <h3 class="display-4 text-center text-index">Het QDelft maaslandloop team is mede tot stand gekomen door:</h3>
    <div class="container">
        <section style="height: 100%;" class="customer-logos slider">
            <div class="slide"><a href="https://www.jip-janneke.nl/"><img src="img/logos/jipenjannekelogo.png" class="img-fluid img-thumbnail" /></a></div>
            <div class="slide"><a href="https://zonneveld.uwtopslijter.nl/"><img src="img/logos/zonneveld.png" class="img-fluid img-thumbnail" /></a></div>
            <div class="slide"><a href="https://www.qdelft.nl/"><img src="~/img/logos/QDelft-logo.png" class="img-fluid img-thumbnail" /></a></div>
            <div class="slide"><a href="https://www.typ.nl/"><img src="~/img/logos/typ_logo.png" class="img-fluid img-thumbnail" /></a></div>
            <div class="slide"><a href="https://www.jip-janneke.nl/"><img src="img/logos/jipenjannekelogo.png" class="img-fluid img-thumbnail" /></a></div>
            <div class="slide"><a href="https://zonneveld.uwtopslijter.nl/"><img src="img/logos/zonneveld.png" class="img-fluid img-thumbnail" /></a></div>
            <div class="slide"><a href="https://www.qdelft.nl/"><img src="~/img/logos/QDelft-logo.png" class="img-fluid img-thumbnail" /></a></div>
            <div class="slide"><a href="https://www.typ.nl/"><img src="~/img/logos/typ_logo.png" class="img-fluid img-thumbnail" /></a></div>
        </section>
    </div>
    <h2 class="display-4 text-center text-index">Stichting Avavieren</h2>
    Avavieren biedt kinderen en volwassenen met een beperking en hun ouders en verzorgers een zorgeloze, betaalbare vakantie in een prachtige omgeving. In een ontspannen sfeer waarin niets moet en veel mag en beleven de gezinnen het unieke strandleven in het Westland. De voorzieningen zijn uitstekend, en er zijn enthousiaste en uiterst kundige vrijwilligers en initiatiefnemers. Hiermee krijgen deze mensen een vakantie om nooit te vergeten!
    Meer informatie op: <a href="https://avavieren.nl">avavieren.nl</a>

    <h2 class="display-4 text-center text-index">Sponsorgeld</h2>
    <br />
    Het basis inschrijfgeld voor het team is € 2.200, maar we willen zoveel mogelijk geld ophalen om stichting Avavieren te helpen om gezinnen een fijne vakantie te geven. Er is een aparte bankrekening geopend, waar alle sponsorgelden op overgemaakt kunnen worden. Hoe kunt u ons helpen? Alle bijdragen zijn van harte welkom en helpen ons om een mooi bedrag bij elkaar te sparen. U kunt uw bijdrage storten op rekeningnummer: NL 41 INGB 079 487 3251 t.n.v. Hr PD de Jong.
    Een tikkie kan via <a href="https://tikkie.me/pay/q5pl6g4vmje3maoj825p">deze link</a>.

    Om geld op te halen organiseren we onder andere:
    <ul>
        <li>	Een wijnproeverij met verkoop van dozen wijn waarvan een deel van de opbrengst voor het goede doel is</li>
        <li>	Pubquiz bij QDelft </li>
        <li>	Traploopwedstrijd, QDelft is gehuisvest in een prachtig oud pand aan het Mijnbouwplein met een enorm trappenhuis. Een traploopwedstrijd met gesponsorde inzet van onze collega’s kan misschien een mooi bedrag opleveren.</li>
    </ul>

</div>
