@page
@model MaaslandloopModel
@{
    ViewData["Title"] = "Maaslandloop";
}

<h2 class="display-4 text-center text-index">Wat houdt de MaaslandLoop in?</h2>
<img class="maaslandkaart" src="~/img/kaart-min.jpg" />
<p>
    De Maaslandloop is één van de langste recreatieve non-stop hardloop estafettes voor het goede doel, de afstand is maar liefst 360 km en wordt met een team af gelegd. Het evenement vindt jaarlijks in een weekend van juni plaats. De  editie van 2019 vindt plaats in het weekend van 7 & 8 juni 2019.
    De start op vrijdagmorgen en finish op zaterdagmiddag is op het festivalterrein van Sport & Spel gelegen bij de voetbalvereniging MVV '27 in Maasland. Deze estafetteloop wordt georganiseerd door de vier enthousiaste teamleden van de Maaslandlooporganisatie in samenwerking met Stichting Sport en Spel Maasland”.
    De opbrengst gaat elk jaar naar een ander goed doel. De Maaslandloop heeft sinds 2009 bijna 300.000.- euro opgebracht voor het goede doel. Het goede doel van de editie 2019 is de Stichting Avavieren. Een stichting die zich inzet voor een onbekomerde vakantie voor kinderen met een handicap en hun gezinsleden.
</p>


<h2 class="display-4 text-center text-index">Start</h2>
<p>
    De start van de Maaslandloop is op het festivalterrein van Sport & Spel. De Maaslandloop maakt deel uit van dit 4-daagse evenement.
    De start én de finish van de estafette over 360 km is dan ook vanaf het Sport & Spel terrein, wat gelegen is bij voetbalverening MVV '27 te Maasland.
    De starttijd van het team hangt af van de snelheid van het team. De doelstelling is om alle teams op zaterdagmiddag tussen 16.00 - 17.00 uur op het podium te huldigen.
    Hiervoor gaat ons team rond 08:00 uur van start. De teams die om 08:00 uur starten lopen door een haag van kinderen die de lopers aanmoedigen bij vertrek. De kinderen van de 3 Maaslandse basisscholen staan dan langs de weg en juichen de lopers toe.
</p>
<div class="row">
    <div class="col-lg-6 col-sm-12">
        <img class="img-fluid rounded" src="~/img/over/start1.JPG" />
    </div>
    <div class="col-lg-6 col-sm-12 tweede">
        <img class="img-fluid rounded" src="~/img/over/StartBasisScholen.JPG" />
    </div>
</div>
<div class="row" style="margin-top:20px">
    <div class="col-lg-6 col-sm-12">
        <img class="img-fluid rounded" src="~/img/over/rollen2.jpg" />
    </div>
    <div class="col-lg-6 col-sm-12 tweede">
        <img class="img-fluid rounded" src="~/img/over/rollen3.jpg" />
    </div>
</div>

<h2 class="display-4 text-center text-index">Wageningen</h2>
<p>
    Op 166 kilometer is er een verplicht wisselpunt voor alle teams van de Maaslandloop. Dat verplichte wisselpunt is bij een van de
    sponsoren van de Maaslandloop op zijn eigen landgoed. Bij aankomst staan er een paar gasten live muziek te spelen, staat er een groot buffet met warm en koud eten, fruit, toetjes en drinken. Tevens mogen we daar gebruik maken van zijn faciliteiten, waaronder
    bijvoorbeeld zijn zwembad. Kortom, het is er altijd een zeer gezellige boel met allerlei teams (stuk of 8 waarschijnlijk), supporters die langs komen en uiteraard de begeleiders van de Maaslandloop.
    Na vertrek vanuit Wageningen gaan we de nacht in, waarbij we hopelijk nog ergens een slaapplek hebben (in Ooijen op 250 km).
</p>

<div class="row">
    <div class="col-lg-6 col-sm-12">
        <img class="img-fluid rounded" src="~/img/over/wageningen1.jpg" />
    </div>
    <div class="col-lg-6 col-sm-12 tweede">
        <img class="img-fluid rounded" src="~/img/over/wageningen2.jpg" />
    </div>
</div>

<h2 class="display-4 text-center text-index">Finish</h2>
<p>
    Net als de start, is ook de finish van de Maaslandloop in Maasland op het festivalterrein van Sport & Spel. 
    De finish van de Maaslandloop is bij de naburige korfbalvereniging en de huldiging is op het festivalterrein. 
    Onder toeziend oog van een paar honderd man worden alle teams 1 voor 1 uitgenodigd om het applaus in ontvangst te nemen. 
    De ontlading is groot, het feest gezellig en na de eerste versnaperingen slaat ongetwijfeld de vermoeidheid toe.
</p>

<div class="row">
    <div class="col-lg-6 col-sm-12">
        <img class="img-fluid rounded" src="~/img/over/finish1.JPG" />
    </div>
    <div class="col-lg-6 col-sm-12 tweede">
        <img class="img-fluid rounded" src="~/img/over/finish2.JPG" />
    </div>
</div>
<div class="row" style="margin-top:20px">
    <div class="col-lg-6 col-sm-12">
        <img class="img-fluid rounded" src="~/img/over/finish3.JPG" />
    </div>
    <div class="col-lg-6 col-sm-12 tweede">
        <img class="img-fluid rounded" src="~/img/over/finish4.JPG" />
    </div>
</div>