@page
@model MaaslandloopModel
@{
    ViewData["Title"] = "Maaslandloop";
}

<h2 class="display-4 text-center text-index">Wat houdt de MaaslandLoop in?</h2>
<img class="maaslandkaart" src="~/img/kaart-min.jpg" />
<p>
    De Maaslandloop is één van de langste recreatieve non-stop hardloop estafettes voor het goede doel, de afstand is maar liefst 360 km en wordt met een team af gelegd. Het evenement vindt jaarlijks in een weekend van juni plaats. De  editie van 2019 vindt plaats in het weekend van 7 & 8 juni 2019.
    De start op vrijdagmorgen en finish op zaterdagmiddag is op het festivalterrein van Sport & Spel gelegen bij de voetbalvereniging MVV '27 in Maasland. Deze estafetteloop wordt georganiseerd door de vier enthousiaste teamleden van de Maaslandlooporganisatie in samenwerking met Stichting Sport en Spel Maasland”.
    De opbrengst gaat elk jaar naar een ander goed doel. De Maaslandloop heeft sinds 2009 bijna 300.000.- euro opgebracht voor het goede doel. Het goede doel van de editie 2019 is de Stichting Avavieren. Een stichting die zich inzet voor een onbekomerde vakantie voor kinderen met een handicap en hun gezinsleden.
</p>